.head {
    margin: -10px;
    height: 60px;
    width: 1265px;
    background-color: #A03037;
}

.main {
    display: flex;
    flex-direction: row;
}

.bookimg {
    margin: -8px;
    height: 70px;
    width: 300px;
    display: flex;
    border: 0px solid white;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.innerbook {
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textbookstore {
    color: white;
    font: normal normal normal 20px/26px Roboto;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.search {
    margin: -5px;
    height: 70px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 25px;
    width: 500px;
}

.icons {
    margin: -9px;
    height: 70px;
    width: 280px;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.icons-header {
    height: 70px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* content */


.home {
    background: 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(159, 155, 155);
}

.bookbutton {
    margin-top: 20px;
    margin-left: -9px;
}

.book {
    font-weight: 600;
    background: 0px;
    border: 0px;
    font-size: 15px;
    color: black;
}

.cart_container {
    border-color: black;
    border: groove;
    height: auto;
    width: 1000px;
    margin-left: 146px;
    margin-right: 266px;
}
.j1{
    margin-left: 50px;
}
.heading {
    display: flex;
    height: 30px;
    width: 100px;
    border: 0px solid red;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
}
.quantityArray{
    height: 60px;
    width: 1000px;
    border: 1px solid gainsboro;
    background: rgba(128, 128, 128, 0.288);
}
.order-button{
    height: 70px;
    width: 960px;
    border: 0px solid red;
    display: flex;
    justify-content: flex-end;
}
.image {
    width: 191px;
    height: 204px;
    margin-left: 40px;
}
.cart-Image{
    margin-top: 50px;
}

.book-description {
    height: 150px;
    width: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border: 0px solid red;
    cursor: pointer;
}
.desc-Text{
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    border: 0px solid red;
}
.cart-Desc{
    height: 25px;
    width: auto;
    font-weight: 600;
    font-size: 20px;
}
.cart-author{
    height: 25px;
    width: auto;
    color:gray;
}
.price-container {
    height: 40px;
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discounted-price {
    font-size: 18px;
}

.actual-price {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}
.bookPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
}

.book-cartlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crt {
    height: auto;
    width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between; 

}
.mainblock{
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0px solid red;
    margin-left: 150px;
}
.header{
    display: flex;
    flex-direction: row;
}