<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/login.js"></script>
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Document</title>
</head>
<body>
    <form id="LoginForm">
        <div class="main">
            <div class="innerdiv">
                <div class="innerdiv1">
                    <img class="img" src="../../../assets/cartImage.png" alt="">
                </div>
                <div class="onlinetext">
                    <span class="online">ONLINE BOOK SHOPPING</span>
                </div>
            </div>
            <div class="login">
                <div class="first">
                    <p class="but">LOGIN</p>
                    <p class="up" onclick="signup()">SIGNUP</p>
                </div>
                <div class="second">
                    <span class="email">Email id</span>
                    <input id="EmailId" class="field1" type="text">
                </div>
                <div class="password-Div">
                    <span class="password">Password</span>
                    <input id="PasswordId"  class="field2" type="text" >
                    <p class="forgot">Forgot password?</p>
                </div>
                <div class="third">
                    <button class="loginbutton" type="submit" >Login</button>
                </div>
                <div class="fourth">
                    <span>---------------OR---------------</span>
                </div>
                <div class="fifth">
                    <p class="face">Facebook</p>
                    <p class="google">Google</p>
                </div>
            </div>
        </div>
        </form>
</body>
</html>