<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Script/dashboard.js"></script>
    <link rel="stylesheet" href="/CSS/dasboard.css">
    <title>Document</title>
</head>

<body>
    <header class="head">
        <div class="main">
            <div class="bookimg">
                <img src="/Assets/education.svg" alt="">
                <p class="textbookstore">Bookstore</p>
            </div>
            <div class="search">
                <input type="text">
            </div>
            <div class="icons">
                <img src="/Assets/icons8-user-24.png" alt="">
                <img src="/Assets/icons8-shopping-cart-24.png" alt="">
            </div>
        </div>
    </header>
</body>

</html>