<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/Ordersuccess.js"></script>
    <link rel="stylesheet" href="/CSS/Ordersuccess.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <div class="main">
            <div class="bookimg">
                <div class="innerbook">
                    <img src="/Assets/education.svg" alt="" width="31px" height="24px">
                    <p class="textbookstore">Bookstore</p>
                </div>
            </div>
            <div class="search">
                <input class="search-input" type="text" placeholder="search">
            </div>
            <div class="icons">
                <div class="icons-header">
                    <img src="/Assets/icons8-user-24.png" alt="" height="25px" width="25px">
                    <img src="/Assets/supermarket (1).svg" alt="" onclick="cart()" height="20px" width="20px">
                </div>
            </div>
        </div>
    </div>
    <div class="hurray">
        <div class="orderImg">
            <img src="/Assets/placeOrder.png" alt="">
        </div>
        <div class="test">
            <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1; ">
                hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
                communication..
            </p>
        </div>
        <div class="tlb">
            <div class="table">
                <TABLE style="border: none;  " BORDER="0" WIDTH="100%" CELLPADDING="10" CELLSPACING="0">
                    <TR style="border: 1px solid #DCDCDC;background-color:#FAFAFA ">
                        <TH COLSPAN="1 ">
                            <H3 style="text-align: center; ">Email</H3>
                        </TH>
                        <TH COLSPAN="1 ">
                            <H3 style="text-align: center; ">Contact us</H3>
                        </TH>
                        <TH COLSPAN="1 ">
                            <H3 style="text-align: center; ">Address</H3>
                        </TH>

                    </TR>
                    <TR>
                        <TH style="color: #333232;opacity: 0.71; "> admin@bookstore.com</TH>
                        <TH style="color: #333232;opacity: 0.71; ">9876987567</TH>
                        <TH style="text-align: start;color: #333232;opacity: 0.71; ">D.NO:77-2-156,maddilapaalem,MVP
                            colony,sector-2,visakhapatnam,andhra pradesh</TH>

                    </TR>

                </TABLE>
            </div>
        </div>
        <div class="cont">
            <button class="continuebutton" color="primary" onclick="dashboard()">
                Continue shopping</button>
        </div>
    </div>
</body>

</html>