<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/Quickview.js"></script>
    <link rel="stylesheet" href="/CSS/QuickView.css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="main">
            <div class="bookimg">
                <div class="innerbook">
                    <img src="/Assets/education.svg" alt="" width="31px" height="24px">
                    <p class="textbookstore">Bookstore</p>
                </div>
            </div>
            <div class="search">
                <input class="search-input" type="text" placeholder="search">
            </div>
            <div class="icons">
                <div class="icons-header">
                    <img src="/Assets/icons8-user-24.png" alt="" height="25px" width="25px">
                    <img src="/Assets/icons8-shopping-cart-24.png" alt="" height="25px" width="25px">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="innercontent">
            <div class="imagepart">
                <div class="leftpart">
                    <div class="inner">
                        <img class="smallimg" src="/Assets/Image 12@2x.png" alt="">
                        <div class="img">
                            <img class="bookimginner" src="/Assets/Image 12@2x.png" alt="">
                        </div>
                    </div>
                    <div class="buttonimg">
                        <div>
                            <button class="bag">ADD TO BAG</button>
                        </div>
                        <div class="quantity">
                            <button class="subtract">-</button>
                            <span class="numder"></span>
                            <button class="add" >+</button>
                        </div>
                        <button class="wish">WISHLIST</button>
                    </div>
                </div>
                <div class="rightpart">
                    <div class="midpart">
                        <div class="title">
                            <h1></h1>
                        </div>
                        <div class="author">
                            <p></p>
                        </div>
                        <div class="rating-container">
                            <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                                4.5
                            </div>
                            <div class="no-of-people-rated">
                                ()
                            </div>
                        </div>
                        <div class="price-container" fxLayout="row">
                            <div class="dicounted-price">
                                <span>
                                    Rs.
                                </span>
                            </div>
                            <div class="actual-price">
                                Rs.
                            </div>
                        </div>
                        <hr>
                        <div>
                            <ul>
                                <li>
                                    Book Description
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="feedback">
                            <h2>Customer Feedback</h2>
                        </div>
                        <div class="feed">
                            <p>Overall Rating</p>
                            <div class="star">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                            <textarea  class="searchInput" type="text" placeholder="write a review"
                                style="width: 570px;height: 70px;" name="comment" #box></textarea>
                            <div>
                                <button class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
</body>
</html>