<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/Quickview.js"></script>
    <link rel="stylesheet" href="/CSS/QuickView.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <div class="main">
            <div class="bookimg">
                <div class="innerbook">
                    <img src="/Assets/education.svg" alt="" width="31px" height="24px">
                    <p class="textbookstore">Bookstore</p>
                </div>
            </div>
            <div class="search">
                <input class="search-input" type="text" placeholder="search">
            </div>
            <div class="icons">
                <div class="icons-header">
                    <img src="/Assets/icons8-user-24.png" onclick="logout()" alt="" height="25px" width="25px">
                    <img src="/Assets/icons8-shopping-cart-24.png" alt="" onclick="cartPage()" height="25px"
                        width="25px">
                </div>
            </div>
        </div>
    </div>
    <div class="home-Book">
        <span onclick="dashboard()" style="color:#9D9D9D;">Home /</span>
        <span>Book</span>
    </div>
    <div class="content">

        <div class="innercontent">
            <div class="imagepart">

            </div>
        </div>
    </div>

</body>

</html>