<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/Script/signup.js"></script>
    <link rel="stylesheet" href="/CSS/signup.css">
    <title>Document</title>
</head>
<body>
    <form id="registrationForm" >
        <div class="main">
            <div class="innerdiv">
                <div class="innerdiv1">
                    <img class="img" src="../../../assets/cartImage.png" alt="">
                </div>
                <div class="onlinetext">
                    <span class="online">ONLINE BOOK SHOPPING</span>
                </div>
            </div>
            <div class="login">
                <div class="first">
                    <p class="but" onclick="login()">LOGIN</p>
                    <p class="up">SIGNUP</p>
                </div>
                <div class="second">
                    <span class="name">Full Name</span>
                    <input  id="fullName" class="field1" type="text" >
                </div>
                <div class="second">
                    <span class="email">Email id</span>
                    <input id="EmailId"  class="field1" type="text" >
                </div>
                <div class="second">
                    <span class="password">password</span>
                    <input id="Passwordid" class="field1" type="text" >
                </div>
                <div class="second">
                    <span class="number">Mobile Number</span>
                    <input id="MobileId" class="field1" type="text"  >
                </div>
                <div class="third">
                    <button class="loginbutton">Signup</button>
                </div>
            </div>
        </div>
        </form>
</body>
</html>